name: CI

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - python-version: '3.7'
            TOXENV: py37
          - python-version: '3.8'
            TOXENV: py38
          - python-version: '3.9'
            TOXENV: py39
          - python-version: '3.10'
            TOXENV: py310

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip setuptools
          pip install tox pytest

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg
          ffprobe -formats
          ffprobe -codecs
          ffprobe -pix_fmts

      - name: Run tests
        run: |
          pip install .
          tox -e ${{ matrix.TOXENV }}
          py.test --doctest-modules madam

      - name: Build documentation
        if: matrix.python-version == '3.10'
        run: |
          pip install sphinx>=1.3 sphinx_rtd_theme
          sphinx-build -b html doc/ doc/_build/html

      - name: Report coverage
        if: matrix.python-version == '3.10'
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
